.title{
    font-size: 3em;
    border-bottom:2px solid red;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}


span{
    display: block;
}
.certs{
    display: inline-flex;
    justify-content: space-around;
    padding-top: 30px;

}

img{
    max-width: 32%;
    max-height: 32%;
}

.projTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 25px;
}

.proj {
    display: flexbox;
    margin-left: 12.5%;
    
}