html{
    background-color: black;
}
body{
    color: white;
}
.title{
    font-size: 3em;
    border-bottom:2px solid red;
    text-align: left;
    padding-left: 2%;
    letter-spacing: 10;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

.projects {
    font-size: 3em;
    border-bottom:2px solid red;
    text-align: left;
    padding-left: 0;
    letter-spacing: 15;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}
span{
    display: block;
}
.certs{
    display: inline-flex;
    justify-content: space-around;
    padding-top: 30px;

}

img{
    max-width: 32%;
    max-height: 32%;
}

.projTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 25px;
}

.proj {
    margin-left: 11%;
}
.projDescrip {
    background-color: rgb(199, 199, 199);
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 75%;
    margin-left: 11%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    color: rgb(100, 100, 100);
}
ul{
    list-style: none;    
}

.projTitle::after {
  content: '';
  width: 500px;
  display: block;
  background: rgb(255, 0, 0);
  height: 1px;
  margin: 27px auto;
  line-height: 1;
}

