@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LAKESHOR-webfont.woff') format('woff'),
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'airstreamregular';
    src: url('fonts/Airstream-webfont.eot');
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstream-webfont.woff') format('woff'),
         url('fonts/Airstream-webfont.ttf') format('truetype'),
         url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.title{
  font-family: 'Times New Roman', Times, serif;
}

.frame{
  position: fixed;
  width: 35%;
  height: 75%;
  margin-top: 7%;
  margin-left: 20%;
}
.al{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: -47%;
    padding-top: 0;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;  
    margin-left: 0%;
    
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;

  border-right: solid 10px rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;    
  font-size: 1pc;
  color: rgb(255, 255, 255);
  background: none;
}

html{
    background-image: url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: 100%;
    background-repeat: repeat-y;
}

.about{
    display: flex;
    flex-direction: column; 
    width: 100%;
    font-size: 1pc;
    color: rgb(255, 255, 255);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;  
    margin-left: 0;
    justify-content: space-between;  
  
}
.about2{
  display: flex;
  flex-direction: column; 
  width: 100%;
  font-size: 1pc;
  color: rgb(255, 255, 255);
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;  
  margin-left: 0;
  justify-content: space-between;  

}
.about3{
  display: flex;
  flex-direction: column; 
  width: 100%;
  font-size: 1pc;
  color: rgb(255, 255, 255);
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;  
  margin-left: 0;
  justify-content: space-between;  

}
.links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.resume-img{
  display: block;
  max-width: 100%;
  height: auto;
}

.resume{
  font-size: 1.5pc;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: airstreamregular;
  margin-left: -15%;
}

.portfolio-img{
  display: block;
}

.portfolio{
  display: block;
}

.git-img{
  display: block;
}

.git-text{
  color: black;
  background-color: white;
  text-decoration: none;
  font-family: airstreamregular;
  font-size: 1.5pc;
  margin-left: -15%;

}

.linkslist{
  position: fixed;
  padding-top: .1%;
  padding-bottom: .1%;
  background-color: white;
  width: 40%;
  margin-left: 3%;
}

.email{
  font-family: airstreamregular;
  color: black;
  padding-left: 5%;
  text-decoration: none;
  font-size: 1.5pc;

}

.linkedin{
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: airstreamregular;
  font-size: 1.5pc;
  margin-left: -15%;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


/* Animation */
.about {
  animation: animated-about 2s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
  animation-delay: 3s;
  white-space: nowrap;
  overflow: hidden; 
}

.about2{
  animation: animated-about2 2s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
  animation-delay: 6s;

  white-space: nowrap;
  overflow: hidden;
}
.about3{
  animation: animated-about3 2s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
  animation-delay: 9s;

  white-space: nowrap;
  overflow: hidden;
}
.about4 {

  display: flex;
  flex-direction: column; 
  width: 100%;
  font-size: 1pc;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;  
  margin-left: 0;
  justify-content: space-between;  
  animation: animated-about4 2s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
  animation-delay: 13s;
  white-space: nowrap;
  overflow: hidden; 
}
@keyframes animated-about4{
  from{width: 0;}
  to{width: 80%;}
}
@keyframes animated-about3{
  from{width: 0;}
  to{width: 80%;}
}
@keyframes animated-about2{
  from{width: 0;}
  to{width: 80%;}
}
@keyframes animated-about{
  from{width: 0;}
  to{width: 80%;}
}
/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 80%;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgb(255, 255, 255);}
  to{border-right-color: transparent;}
}
