@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LAKESHOR-webfont.woff') format('woff'),
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'airstreamregular';
    src: url('fonts/Airstream-webfont.eot');
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstream-webfont.woff') format('woff'),
         url('fonts/Airstream-webfont.ttf') format('truetype'),
         url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.email{
    font-family: sans-serif;
    color: black;
}
.resume{
    font-family: sans-serif;
    color: black;
  }
.al{
    flex: 0 1 auto;
    font-size: 100px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    color: white;
    margin-top: 2%;
    padding-top: 0;
    margin-bottom: 0;
    font-family: lakeshore;
    width: 75%;
    margin-left: 12.5%;
}

html{
    background-image: url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: 100%;
    background-repeat: no-repeat;
}

.about{
    display: flex;
    flex-direction: column; 
    background-color: rgb(255, 255, 255);
    width: 75%;
    font-size: 2pc;
    color: rgb(0, 0, 0);
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    margin-bottom: 0;
    margin-left: 12.5%;

    font-family: sans-serif;
    
}

